div{
    height: 100px;
    width: 100px;
     background-color: aquamarine;
    border: 2px solid black;

    transition:all 2s ease-in 1s ;

    /* transform: rotate(45deg) rotateX('angle') rotateY('angle') rotateZ('angle') scale() ; */
    /* transform: translate();-> to move the object forward,backward etc. */
     /* transform: skew(); */
}

div:hover{
    background-color: red;
    color: white;
    font-size: 20px;
}

div:active{
    background-color: pink;
}