/* display properties->inline/block/inline-block/none;
inline->button
block->div,p */

#divi{
    background-color: pink;
    display: inline;
}

#button{
    display: inline;
    background-color: blue;
}
/* }
inline - Takes only the space required by the element. (no margin/ padding)
block - Takes full space available in width.
inline-block - Similar to inline but we can set margin & padding.
none - To remove element from document flow. 

visibility vs display none:
in visibility the content or box get removed but still the space is retain
in none the content and space both get removed from the flow.;*/